body {
    background-color: antiquewhite;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

* {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#file {
    background-color: lightyellow;
    padding: 10px;
    border-radius: 8px;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}