<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href={{url_for('static', filename='css/index.css')}}>
        <title>UVG Pass Detection</title>
    </head>
    <body>
        <h1>{{video_name}}</h1>

        <video autoplay="autoplay" controls="controls" preload="preload">
            <source src={{ url_for('static', filename=filename) }} type="video/mp4"></source>
        </video>

        <table>
            <tr>
                <th>Time (s)</th>
                <th>Pass detection</th>
            </tr>
            {%for i in range(rows)%}
            <tr>
                <td>{{predict['time'][i]}}</td>
                <td>{{predict['pass'][i]}}</td>
            </tr>
            {%endfor%}
        </table>
    </body>
</html>